/* Importing Google fonts */
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/* Modifying HTML elements */
body {
  padding-top: 50px;
  padding-bottom: 20px;
  font-family: "Raleway";
  font-size: 16px;
}
h1 {
  cursor: default;
}
h7 {
  font-weight: lighter;
  letter-spacing: 0;
}
footer a,
footer a:visited {
  color: #37474F;
  text-decoration: none;
  transition: all .3s ease-in-out;
}
footer a:hover,
footer a:focus,
footer a:active {
  color: rgb(30,130,220);
  text-decoration: none;
  transition: all .3s ease-in-out;
}
i {
  color: #37474F;
  padding-left: 10px;
  font-size: 20px;
  float: right;
}
i:hover,
i:focus {
  color: rgb(30,130,220);
  transform: rotate(7deg);
}
/* Styling Moogle title */
.site-title {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 6em;
  margin-left:-35px;
}
.letter-e {
  margin-left:-12px;
}
#logo {
  width: 50px;
  margin-right: -35px;
  transform: rotate(-12deg);
}
.no-space {
  letter-spacing: -35px;
}
.black {
  color: #000;
}
.blue {
  color: #4285F4;
}
.yellow {
  color: #ffbb33;
}
.red {
  color: #CC0000;
}
.green {
  color: #007E33;
}
/* Spacer classes */
.top-buffer {
  margin-top: 40px;
}
.bottom-buffer {
  margin-bottom: 40px;
}
.mix-buffer {
  margin: 40px 0;
}
.padded-left {
  padding-left: 50px;
}
.close-modified {
  margin: 10px;
}
/* Search card */
.search-card {
  margin: 0 auto;
  width: 50%;
  height: 80px;
}
input,
input:focus {
  width:100%;
  font-size: inherit;
  border-radius: 500px;
  background-color:#eceff1;
  outline:none !important;
  transition: all .3s ease-in-out;
}
::placeholder {
  font-size: 14px;
  color:#455a64 ;
}
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } /* FF 4-18 */
input:focus::-moz-placeholder { color:transparent; } /* FF 19+ */
input:focus:-ms-input-placeholder { color:transparent; } /* IE 10+ */

#search-icon {
  font-size: 16px;
  margin-top: 5px;
  margin-right: 15px;
}
.search-result,
.search-result > a,
.search-result > a:hover,
.search-result > a:visited,
.search-result > a:focus {
  color: #2e7d32;
}
#result {
  display: none;
  outline: none;
  width: 100%;
  overflow: scroll;
}
.moogle-table {
  color: #37474f; 
  width:50%;
}
.moogle-row {
  margin-right: 0;
  margin-left: 0;
}
.moogle-h4 {
  color: #2962ff;
  margin-bottom: -.5px;
}
.moogle-modal-button {
  background: transparent; 
  padding: 10px; 
  border: 1px solid #e0e0e0; 
  margin: 20px 0; 
  float: right;
}
.moogle-img {
  width: 200px;
}
.moogle-modal-img {
  width: 100%;
}
.dark-bluish-gray {
  color: #37474f;
}
#totals {
  display: none;
}
#loader {
  display: block;
}
/*
.load-bar {
  position: relative;
  margin-top: 5px;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #fff, #fdba2c, #fff);
  opacity: .7;
}
.bar {
  content: "";
  display: inline;
  position: absolute;
  height: 100%; /* Editor complains, but this is needed */ /*
  left: 50%;
  text-align: center;
}
*/
.bar:nth-child(1) {
  background: linear-gradient(to right, #fff, #da4733, #fff);
  animation: loading 3s linear infinite;
}
.bar:nth-child(2) {
  background: linear-gradient(to right, #fff, #3b78e7, #fff);
  animation: loading 3s linear 1s infinite;
}
.bar:nth-child(3) {
  background: linear-gradient(to right, #fff, #fdba2c, #fff);
  animation: loading 3s linear 2s infinite;
}
@keyframes loading {
    from {left: 50%; width: 0;z-index:100;}
    33.3333% {left: 0; width: 100%;z-index: 10;}
    to {left: 0; width: 100%;}
}
/* Some modified Bootstrap stuff (Or I made them up to fix something) */
.fixed-heading {
  text-align: center; 
  width: 100%; 
  margin: 50px auto 0 auto;
}
.fixed-heading-col {
  padding: 20px;
}
/* Make a shadow */
.shadow {
  box-shadow: 2px 2px 4px rgb(150,150,150);
}
.shadow:hover {
  box-shadow: none;
}
.search-bar {
  padding:10px 0 10px 15px;
  border-radius:500px;
  background-color:#eceff1;
  border:1px solid transparent;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  .site-title {
    font-size: 4.5em;
    margin-left:-35px;
    letter-spacing: 7px;
  }
  .search-card {
    width: 90%;
  }
  .moogle-modal-button {
    margin: 0 auto;
    float: none;
    width: 100%;
  }
  .mix-buffer {
    margin: 0;
  }
  .letter-e {
    margin-left:-15px;
  }
}

