<!doctype html>
<html>
<head>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <meta name=”apple-mobile-web-app-capable” content=”yes” />
    <meta name=”mobile-web-app-capable” content=”yes” />
    <meta name="apple-touch-fullscreen" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="address=no" />    
    <meta name="apple-mobile-web-app-title" content="Moogle" />
    <meta name="apple-mobile-web-app-orientations" content="portrait-any" />
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link href="splashscreens/iphone5_splash.png" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphone6_splash.png" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphoneplus_splash.png" media="(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonex_splash.png" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexr_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/iphonexsmax_splash.png" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipad_splash.png" media="(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro1_splash.png" media="(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro3_splash.png" media="(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link href="splashscreens/ipadpro2_splash.png" media="(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/site.css">
    <link rel="icon" href="images/ff-moogle.png">
    <link rel='manifest' href="manifest.json">
    <title>Moogle</title>
</head>
<body>
    <div id="vue-app">
        <!-- <div v-if="loading" class="text-center"><img class="spinner" src="images/circle-loading.gif"></div> -->
        <div> <!-- v-if="!loading" // Place back in div for loading logic. --> 
            <div class="row fixed-heading">
                <div class="col-md-12 fixed-heading-col">
                    <h1 class="site-title" title="Moogle" alt="Moogle">
                        <span class="blue no-space">M</span>
                        <span class="red no-space">o</span>
                        <span class="yellow no-space">o</span>
                        <span class="blue no-space">g</span>
                        <span class="green no-space">l</span>
                        <span class="letter-e red no-space">e</span>
                    </h1>
                </div>
            </div>
            <div class="container">
                <div class="search-card">
                    <form class="form-inline has-feedback">
                        <input id="search" v-model="search" type="input" class="search-bar">
                        <i id="search-icon" class="glyphicon glyphicon-search form-control-feedback blue"></i>
                    </form>
                </div>
                <div v-for="(character) in filtered" :key="character.id" class="row moogle-row mix-buffer" >
                    <div class="col-md-8 moogle-content">
                        <h4 class="moogle-h4"><strong>{{character.name}}</strong></h4>
                        <h7 class="search-result">To learn more visit <a :href="'https://www.google.com/search?q=final+fantasy+'+character.name" target="_blank">https://www.google.com/search?q={{character.name}}</a></h7><br/>
                        <p class="dark-bluish-gray">{{character.description}}</p>
                        <div class="row">
                            <div class="col-md-4">
                                <p><strong>Origin:</strong> {{character.origin}}<br/>
                                <strong>Job:</strong> {{character.job}}<br/>
                                <strong>Age:</strong> {{character.age}}</p></div>
                                <div class="col-md-6"><p><strong>Race:</strong> {{character.race}}<br/>
                                <strong>Height:</strong> {{character.height}}m<br/>
                                <strong>Weight:</strong> {{character.weight}}kg</p>
                            </div>
                            <br/>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="moogle-modal-button" data-toggle="modal" data-target="#imageModal" v-on:click="setModal(character)">
                            <!-- <img class="img-spinner-on" src="images/circle-loading.gif"> -->
                            <img class="moogle-img" :src="character.picture" :alt="character.name" title="Click to view a larger picture"><br/>
                        </button>
                        
                        <div id="imageModal" class="modal fade" role="dialog">
            
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h3 class="text-center"><strong>{{modal.name}}</strong><span class="close" data-dismiss="modal">X</span></h3>
                                    </div>
                                    <div class="modal-body">
                                        <img class="moogle-modal-img" :src="modal.picture" :alt="modal.name" :title="modal.name">
                                    </div>
                                </div>
                            </div>
            
                        </div>
                        <br/>
                        
                    </div>
                    <div class="row moogle-row">
                        <div class="col-md-4 pull-right">
                            <button class="h5 blue pull-right btn-link" v-on:click="scrollTop()">Back to top</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    if ("serviceWorker" in navigator) {
        if (navigator.serviceWorker.controller) {
            console.log("Active service worker found, no need to register");
        } else {
            // Register the service worker
            navigator.serviceWorker
            .register("sw.js", {
                scope: "./"
            })
            .then(function (reg) {
                console.log("Service worker has been registered for scope: " + reg.scope);
            });
        }
        }
</script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
<script src="js/site.js"></script>
</html>